<?php

/*** Configuration - change to suit your local setup. ***/

/* A directory where the plugin will cache the files that it
   downloads. Note that this directory must also be available
   as a URL (configured below). */

define( 'UC_CACHE_DIR', '/path/to/wordpress/wp-content/cache/url-cache' );

/* The URL associated with the cache directory above. Files placed
   in the cache directory must be visible at this URL. */

define( 'UC_CACHE_URL', 'http://your.site/wordpress/wp-content/cache/url-cache' );

/* This specifies how long cached results should be kept before they
   are considered to be stale. This is set initially to one day. */

define( 'UC_CACHE_TIMEOUT', 60 * 60 * 24 );

?>
